<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Jan 'Honza' Chalupa">
    <meta name="keywords" content="">
    <title>@Page.Title - Honza Chalupa portfolio</title>
    <script src="@Href("~/Scripts/Script.es5.min.js")"></script>
    <link rel="stylesheet" href="@Href("~/Styles/Style.min.css")" />
</head>
<body>
    <main>
        @RenderPage("~/Templates/Components/_HeaderMin.cshtml")

        <section class="page-content project-template">
            @RenderBody()
        </section>

        @RenderPage("~/Templates/Components/_FooterMin.cshtml")
    </main>
</body>
</html>
