@{
    var db = Database.Open("DatabaseConnector");
    /*var query = "INSERT INTO Projects " +
            "(Title, Description, Url, ImageDesktop, ImageMobile, LivePreviewEnabled, Type, Tags, DevelopmentState, DatePublished) " +
        "VALUES ('xy', 'desc', 'http://www.ceskezpravodajstvi.cz/', 'a', 'b', 1, 'website', 'tags', 'unsupported', '" + DateTime.Today + "');";*/

    //db.Query(query);

    var result = db.QuerySingle("SELECT * FROM Projects WHERE Id = '" + Request.QueryString["id"].ToString() +  "'");

    Project project = new Project();
    project.Title = result.Title;
    project.Description = result.Description;
    project.Url = result.Url;
    project.ImageDesktop = result.ImageDesktop;
    project.ImageMobile = result.ImageMobile;
    project.Type = result.Type;
    project.Tags = result.Tags;
    project.DevelopmentState = result.DevelopmentState;
    project.SupportedPlatforms = result.SupportedPlatforms;
    project.LivePreviewEnabled = result.LivePreviewEnabled;

    Layout = "~/Templates/Layouts/_ProjectLayout.cshtml";
    Page.Title = project.Title;
}

<div class="device-preview desktop preserve-ratio" data-ratio="0.75">
    @{
        if (project.Type == "website" && project.LivePreviewEnabled)
        {
            <iframe class="preview-window live" src="@project.Url"></iframe>
            <img class="preview-window static" src="@project.ImageDesktop">
        }
        else
        {
            if (!string.IsNullOrEmpty(project.ImageDesktop))
            {
                <img class="preview-window static-fallback" src="@project.ImageDesktop" />
            }
            else
            {
                <div class="preview-window static-fallback undefined">
                    <p>There is no desktop or tablet preview for this app.</p>
                </div>
            }
        }
    }
</div>
<div class="device-preview phone preserve-ratio" data-ratio="1.92">
    @{
        if (project.Type == "website" && project.LivePreviewEnabled)
        {
            <iframe class="preview-window live" src="@project.Url"></iframe>
            <img class="preview-window static" src="@project.ImageMobile" />
        }
        else
        {
            if (!string.IsNullOrEmpty(project.ImageDesktop))
            {
                <img class="preview-window static-fallback" src="@project.ImageMobile" />
            }
            else
            {
                <div class="preview-window static-fallback undefined">
                    <p>There is no mobile preview for this app.</p>
                </div>
            }
        }
    }
</div>
<div class="description">
    @{
        if (project.DevelopmentState == "in_development")
        {
            <p class="warning">This project is currently in development phase. It may contains some errors and imperfections.</p>
        }
        else if (project.DevelopmentState == "unsupported")
        {
            <p class="warning">Development and support for this project has ended. It may contains some errors and imperfections.</p>
        }
    }

    @(new HtmlString(@project.Description))
</div>

@{
    if (!string.IsNullOrEmpty(project.Url))
    {
        <div class="qr-link">
            <img class="code" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=@project.Url">
            <p class="description">Scan QR code to easily visit website from your mobile device.</p>
        </div>
    }
}